# Other project folder
classification_bonne_NL/
context_classification_/
text_spotting_/

# Folder T1 (epoch_1)

classification_bonne_zuidholland/maps/*
!classification_bonne_zuidholland/maps/.gitkeep
classification_bonne_zuidholland/maps_0440/*
classification_bonne_zuidholland/maps_DANS/*
classification_bonne_zuidholland/models_tutorial/*
classification_bonne_zuidholland/patches/*
!classification_bonne_zuidholland/patches/.gitkeep
classification_bonne_zuidholland/patches_0440_meter
classification_bonne_zuidholland/patches_DANS
classification_bonne_zuidholland/report
classification_bonne_zuidholland/tboard_tutorial
classification_bonne_zuidholland/tmp_checkpoints
classification_bonne_zuidholland/*.ipynb
!classification_bonne_zuidholland/Pipeline_zuidholland_epoch_1.ipynb
classification_bonne_zuidholland/*.geojson
classification_bonne_zuidholland/*.py
classification_bonne_zuidholland/*.csv


# Folder T2 (epoch_-1)
classification_bonne_zuidholland_epoch_-1/maps/*
!classification_bonne_zuidholland_epoch_-1/maps/.gitkeep
classification_bonne_zuidholland_epoch_-1/patches/*
!classification_bonne_zuidholland_epoch_-1/patches/.gitkeep
classification_bonne_zuidholland_epoch_-1/tmp_checkpoints
classification_bonne_zuidholland_epoch_-1/*.csv
classification_bonne_zuidholland_epoch_-1/*.geojson